footer {
  background-color: #2f303a;
}

.footer-flex {
  display: flex;
  padding-top: 48px;
  align-items: baseline;
}

.footer-logo {
  @extend %link;
  color: $primary-white-color;
  font-family: $font-family-secondary;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

address a {
  @extend %link;
  display: block;
  margin-top: 10px;
  color: $primary-white-color;
  font-style: normal;
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-contacts {
  @extend %list;
  display: block;
  padding-bottom: 46px;
  background-color: #2f303a;
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-link {
  @extend %link;
  margin-top: 10px;
}

/* соцсети */

.footer-join {
  display: block;
  margin-left: 69px;
}

.socials-subtitle {
  color: $primary-white-color;
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-socials {
  @extend %list;
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
}

.socials-item {
  margin-right: 10px;

  &:nth-child(4n) {
    margin-right: 0px;
  }
}

.socials-link {
  @extend %link;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: #2196f3;
  }
}

.social-icon.footer {
  fill: $primary-white-color;
}
