.workers {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.container {
  @extend %container;
}

.workers-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: $title-text-color;
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.workers-flex {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
}

.workers-item {
  width: 270px;
  margin-right: 30px;
  padding-bottom: 24px;
  border-radius: 4px;
  background-color: $primary-white-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.workers-item:nth-child(4n) {
  margin-right: 0px;
}

.workers-subtitle {
  margin-top: 30px;
  margin-bottom: 0px;
  color: $title-text-color;
  font-family: $font-family-primary;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-align: center;
}

.workers-text {
  margin-top: 10px;
  color: $primary-text-color;
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-align: center;
}

.workers-socials.list {
  @extend %list;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.workers-socials.item {
  margin-right: 10px;

  &:nth-child(4n) {
    margin-right: 0px;
  }
}

.workers-link {
  @extend %link;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: #2196f3;
  }
}

.social-icon {
  fill: currentColor;

  &:hover,
  &:focus {
    fill: $primary-white-color;
  }
}
